@import 'tailwindcss';

/* Déclaration des polices personnalisées */
@font-face {
  font-family: 'Afacad';
  src: url('/fonts/Afacad-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Afacad';
  src: url('/fonts/Afacad-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variables de style global */
:root {
  font-family: 'Afacad', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
